In [2]:
#q1
"""for loop is use when we know number exactly howmany times we want to repeate a code.
It is used to traverse elements in list,set,tuole,dictionary"""

print("for loop")
l=[1,2,3,4,5]

for i in l:
    print(i)
    
"""while loop is use when we want to repeate a code until specified condition is met"""
print("while loop")
a=1

while a<5:
    print(a)
    a=a+1

for loop
1
2
3
4
5
while loop
1
2
3
4

In [6]:
#q2
sum,product=0,1

print("1) for loop")

for i in range(1,11):
    sum=sum+i
    product=product*i
print("sum and product of first 10 natural numbers are",sum,"and",product)

print("")

print("2) while loop")

sum,product=0,1
i=1

while i<=10:
    sum=sum+i
    product=product*i
    i=i+1
print("sum and product of first 10 natural numbers are",sum,"and",product)

1) for loop
sum and product of first 10 natural numbers are 55 and 3628800

2) while loop
sum and product of first 10 natural numbers are 55 and 3628800

In [7]:
#q3
units=int(input("Enter a number of units consumed-"))
charge=0
i=1

while i<=units:
    if i<=100:
        charge=charge+4.5
    elif i>100 and i<=200:
        charge=charge+6
    elif i>200 and i<=300:
        charge=charge+10
    else:
        charge=charge+20
    i=i+1
print("charge of electicity in household is ",charge," rupees")

Enter a number of units consumed- 310

charge of electicity in household is  2250.0  rupees

In [9]:
#q4
l=list(range(1,101))
l2=[]
print("1) for loop")

for i in l:
    c=i**3
    if c%4==0 or c%5==0:
        l2.append(i)
print(l2)

print("")

print("2)while loop")
l2=[]
i=1

while i<=100:
    c=i**3
    if c%4==0 or c%5==0:
        l2.append(i)
    i=i+1
print(l2)

1) for loop
[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

2)while loop
[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [11]:
#q5
string="I want to become a datascientist"
count=0
vowel=['a','e','i','o','u','A','E','I','O','U']


for i in string:
    if i in vowel:
        count=count+1
print("number of vowels in string are: ",count)

number of vowels in string are:  12